@import "tailwindcss";

*{
box-sizing: border-box;
}
body{
    background-color: black;
}
.chat-container {
  display: flex;
  height: 100vh;
}

.chat-sidebar {
  width: 320px;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message-bubble {
  max-width: 60%;
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 18px;
  background: #f1f1f1;
}

.message-bubble.own {
  background: #3797f0;
  color: white;
  margin-left: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 8px;
}

.online-dot {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
